* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

.container {
height: 400px;
width: 600px;
background-color: lightcoral;
margin: 0px auto;
margin-top: 40px;
}

h1 {
 padding: 20px;
 text-align: center;
}

.box-container {
    margin-left: 170px;
}

.box-container input {
    height: 25px;
    border-radius: 5px;
    padding: 5px;
}

.box-container button {
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}

.box-container button:hover {
    background-color: green;
}

.list-container {
    margin-left: 180px;
    margin-top: 20px;
}

.list-container ul li {
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}

.delete {
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: black;
    color: white;
}

.delete:hover {
    background-color: red;
}